<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Zephor RVM{% block title %}{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kiosk.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', filename='js/kiosk.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
